.dialog {
    margin: 0;
    border: unset;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

dialog[open] {
    display: flex;
}

.card {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.card-top-bar {
    padding: 40px 24px 0 24px;
}

.white {
    color: white;
}

.card-header {
    padding: 0 24px;
    height: 248px;
    color: white;
}

.hb-back {
    background-image: url('../img/arrow-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.hb-like {
    background-image: url('../img/heart-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.card-title {
    margin: 20px 0 0 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
}

.card-id {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

.flex-row {
    display: flex;
    gap: 6px;
}

.card-type {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 12px;
    background-color: lightcoral;
    border-radius: 16px;
}

.card-artwork {
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.card-info {
    margin-top: -16px;
    height: fit-content;
    min-height: calc(100vh - 324px);
    background-color: white;
    border-radius: 24px 24px 0 0;
}

.card-info-bar {
    padding: 40px 24px 8px 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

.c-pointer {
    cursor: pointer;
}

.link-active {
    padding-bottom: 16px;
    box-shadow: 0 2px #7986DF;
}

.card-info-content {
    display: flex;
    justify-content: center;
}

.info-table {
    padding: 0 24px 32px 24px;
    width: 320px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    border-spacing: 0 16px;
}

.th-about {
    padding: 0 16px 0 0;
    width: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.td-about {
    padding: 0;
}

.th-stats {
    padding: 0 16px 0 0;
    width: 56px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.td-stats {
    padding: 0 16px 0 0;
    width: 24px;
}

.max-bar {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.value-bar {
    height: 4px;
    border-radius: 4px;
}

.bgc-green {
    background-color: #88B69F;
}

.bgc-red {
    background-color: #D4A6A6;
}

.evolution-family {
    padding: 16px 24px 32px 24px;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.evolution-artwork {
    width: 120px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.evolution-subtext {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

.bs-bottom {
    box-shadow: 0 1px rgba(0, 0, 0, 0.5);
}

.td-head-first {
    padding: 0 16px 16px 0;
    width: 72px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.td-head {
    padding: 0 0 16px 0;
}

.th-moves {
    padding: 0 16px 0 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.5)
}

.td-moves {
    padding: 0;
}

.bs-top {
    box-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.td-foot-first {
    padding: 16px 16px 0 0;
    width: 72px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.td-foot {
    padding: 16px 0 0 0;
}