html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}

.header {
    padding: 40px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    cursor: pointer;
}

.header-button {
    width: 32px;
    height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #7986DF;
    background-color: rgba(0, 0, 0, 0.05);
    border: unset;
    border-radius: 50%;
}

.header-button:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.header-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar {
    width: 128px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    position: relative;
}

.progress-value-bar {
    height: 24px;
    width: 0;
    background-color: #7986DF;
    border-radius: 16px;
    transition: 125ms width ease-in-out;
}

.loading-text {
    width: 40px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 5;
    top: calc(50% - 8px);
    left: calc(50% - 20px);
}

.hb-menu {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-main {
    padding: 0 24px 32px 24px;
}

.pokedex-headline {
    margin: 16px 0 24px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-12 {
    gap: 12px;
}

.pokecard-collector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.pokecard {
    padding: 16px;
    width: 223px;
    height: 160px;
    color: white;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.pokecard:hover {
    filter: brightness(0.9);
}

.pokecard-id {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.ta-right {
    text-align: right;
}

.pokecard-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.gap-8 {
    gap: 8px;
}

.pokecard-type {
    padding: 4px 16px;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.artwork {
    width: 128px;
    object-fit: cover;
    position: absolute;
    bottom: 8px;
    right: 8px;
}