<table id="table-about" class="table-about">
    <tbody>
        <tr>
            <td class="padding-0 w-90">Species</td>
            <td class="padding-0">Seed</td>
        </tr>
        <tr>
            <td class="padding-0 w-90">Height</td>
            <td class="padding-0">0.7 m</td>
        </tr>
        <tr>
            <td class="padding-0 w-90">Weight</td>
            <td class="padding-0">6.9 kg</td>
        </tr>
        <tr>
            <td class="padding-0 w-90">Abilities</td>
            <td class="padding-0">Overgrow, Chlorophyl</td>
        </tr>
    </tbody>
</table>