<table id="table-about" class="info-table">
    <tbody>
        <tr>
            <th class="th-about">Species</th>
            <td class="td-about">
                <output id="info-species">Seed</output>
            </td>
        </tr>
        <tr>
            <th class="th-about">Height</th>
            <td class="td-about">
                <output id="info-height">0.7</output> m
            </td>
        </tr>
        <tr>
            <th class="th-about">Weight</th>
            <td class="td-about">
                <output id="info-weight">6.9</output> kg
            </td>
        </tr>
        <tr>
            <th class="th-about">Abilities</th>
            <td class="td-about">
                <output id="info-abilities">Overgrow, Chlorophyl</output>
            </td>
        </tr>
    </tbody>
</table>