<table id="table-about" class="info-table">
    <tbody>
        <tr>
            <th class="th-about">Species</th>
            <td class="td-about">Seed</td>
        </tr>
        <tr>
            <th class="th-about">Height</th>
            <td class="td-about">0.7 m</td>
        </tr>
        <tr>
            <th class="th-about">Weight</th>
            <td class="td-about">6.9 kg</td>
        </tr>
        <tr>
            <th class="th-about">Abilities</th>
            <td class="td-about">Overgrow, Chlorophyl</td>
        </tr>
    </tbody>
</table>