<section id="card" class="card grass" onclick="stop(event)">
    <div class="card-top-bar flex-between-center">
        <button class="header-button flex-center-center white">B</button>
        <button class="header-button flex-center-center white">M</button>
    </div>
    <article id="card-header" class="card-header">
        <h1 id="card-name" class="card-title">Bulbasaur</h1>
        <div id="card-id" class="card-index ta-right">#001</div>
        <div id="card-type-group" class="flex-row">
            <!-- rendering card type group's content -->
        </div>
        <div id="card-artwork-frame" class="flex-center-center">
            <img id="card-artwork" class="card-artwork"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
                alt="pokemon">
        </div>
    </article>
    <article id="card-info" class="card-info">
        <nav id="card-info-bar" class="card-info-bar flex-between-center">
            <a id="card-about" class="c-pointer link-active" onclick="renderCardAbout(0)">About</a>
            <a id="card-base-stats" class="c-pointer" onclick="renderCardStats(0)">Base Stats</a>
            <a id="card-evolution" class="c-pointer" onclick="renderCardEvolution(0)">Evolution</a>
            <a id="card-moves" class="c-pointer" onclick="renderCardMoves(0)">Moves</a>
        </nav>
        <div id="card-info-content" include-card-info="./templates/about.html">
            <!-- rendering about, base stats, evolution or moves -->
        </div>
</section>