<h4 class="search-title">Filter Types</h4>
<form onsubmit="return false">
    <h5 class="filter-subheadline">Set conditions</h5>
    <fieldset class="filter-fieldset">
        <input class="filter-button" type="button" value="also second">
        <input class="filter-button" type="button" value="by first">
        <input class="filter-button" type="button" value="only pure">
    </fieldset>
    <h5 class="filter-subheadline">Choose Types</h5>
    <fieldset class="filter-fieldset">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
        <input class="filter-type grass" type="button" value="grass">
        <input class="filter-type fire" type="button" value="fire">
        <input class="filter-type water" type="button" value="water">
    </fieldset>
</form>