<table id="table-moves" class="info-table">
    <thead class="bs-bottom">
        <tr>
            <td class="td-head-first">Level</td>
            <td class="td-head">Move</td>
        </tr>
    </thead>

    <tbody id="tb-moves">
        <tr>
            <th id="th-level-0" class="th-moves">1</th>
            <td id="td-name-0" class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th id="th-level-1" class="th-moves">1</th>
            <td id="td-name-1" class="td-moves">Growl</td>
        </tr>
        <tr>
            <th id="th-level-2" class="th-moves">7</th>
            <td id="td-name-2" class="td-moves">Leech Seed</td>
        </tr>
        <tr>
            <th id="th-level-3" class="th-moves">13</th>
            <td id="td-name-3" class="td-moves">Vine Whip</td>
        </tr>
        <tr>
            <th id="th-level-4" class="th-moves">20</th>
            <td id="td-name-4" class="td-moves">Poison Powder</td>
        </tr>
        <tr>
            <th id="th-level-5" class="th-moves">27</th>
            <td id="td-name-5" class="td-moves">Razor Leaf</td>
        </tr>
        <tr>
            <th id="th-level-6" class="th-moves">34</th>
            <td id="td-name-6" class="td-moves">Growth</td>
        </tr>
        <tr>
            <th id="th-level-7" class="th-moves">41</th>
            <td id="td-name-7" class="td-moves">Sleep Powder</td>
        </tr>
        <tr>
            <th id="th-level-8" class="th-moves">48</th>
            <td id="td-name-8" class="td-moves">Solar Beam</td>
        </tr>
    </tbody>

    <tfoot class="bs-top">
        <tr>
            <td class="td-foot-first">Note:</td>
            <td class="td-foot"> Version Red & Blue</td>
        </tr>
    </tfoot>
</table>