<table id="table-moves" class="info-table">
    <thead class="bs-bottom">
        <tr>
            <td class="td-head-first">Level</td>
            <td class="td-head">Move</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
        <tr>
            <th class="th-moves">1</th>
            <td class="td-moves">Tackle</td>
        </tr>
    </tbody>
    <tfoot class="bs-top">
        <tr>
            <td class="td-foot-first">Note:</td>
            <td class="td-foot"> Version Red & Blue</td>
        </tr>
    </tfoot>
</table>