<table id="table-base-stats" class="info-table">
    <tbody>
        <tr>
            <th class="th-stats">HP</th>
            <td class="td-stats">45</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Attack</th>
            <td class="td-stats">50</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Defense</th>
            <td class="td-stats">48</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Sp. Atk</th>
            <td class="td-stats">65</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Sp. Def</th>
            <td class="td-stats">65</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Speed</th>
            <td class="td-stats">45</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Total</th>
            <td class="td-stats">317</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>