<table id="table-base-stats" class="info-table">
    <tbody>
        <tr>
            <th class="th-stats">HP</th>
            <td id="td-hp" class="td-stats">45</td>
            <td>
                <div id="hp-max-bar" class="max-bar">
                    <div id="hp-bar" class="value-bar hp"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Attack</th>
            <td id="td-attack"  class="td-stats">50</td>
            <td>
                <div id="attack-max-bar" class="max-bar">
                    <div id="attack-bar" class="value-bar attack"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Defense</th>
            <td id="td-defense" class="td-stats">48</td>
            <td>
                <div id="defense-max-bar" class="max-bar">
                    <div id="defense-bar" class="value-bar defense"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Sp. Atk</th>
            <td id="td-special-attack" class="td-stats">65</td>
            <td>
                <div id="special-attack-max-bar" class="max-bar">
                    <div id="special-attack-bar" class="value-bar special-attack"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Sp. Def</th>
            <td id="td-special-defense" class="td-stats">65</td>
            <td>
                <div id="special-defense-max-bar" class="max-bar">
                    <div id="special-defense-bar" class="value-bar special-defense"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Speed</th>
            <td id="td-speed" class="td-stats">45</td>
            <td>
                <div id="speed-max-bar" class="max-bar">
                    <div id="speed-bar" class="value-bar speed"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="th-stats">Total</th>
            <td id="td-total" class="td-stats">317</td>
            <td>
                <div id="total-max-bar" class="max-bar">
                    <div id="total-bar" class="value-bar total"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>