<table id="table-base-stats" class="info-table">
    <tbody>
        <tr>
            <td class="pr-24 black-05">HP</td>
            <td class="pr-16">45</td>
            <td>
                <div class="max-bar">
                    <div class="value-bar"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Attack</td>
            <td class="pr-16">50</td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Defense</td>
            <td class="pr-16">48</td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Sp. Atk</td>
            <td class="pr-16">65</td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Sp. Def</td>
            <td class="pr-16">65</td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Speed</td>
            <td class="pr-16">45</td>
        </tr>
        <tr>
            <td class="pr-24 black-05">Total</td>
            <td class="pr-16">317</td>
        </tr>
    </tbody>
</table>